.DS_Store
data
output*
*.pyc
.vscode
.snakemake
__pycache__
dev.py
temp*
debug.R
debug.py
temp_matches
temp_names
worms
temp.py
.Rproj.user
geohash_*
h3_*
ne_10m_ocean
richness.gpkg
richness.png
legacy
